<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
        <h1>An ENS ticket has been created. Please see below.</h1>
            <p>Property/Properties: <%= @property_array.join(", ") %></p>
            <p>Heat Ticket Number: <%= @heat_ticket_number %></p>
            <p>Customers Affected: <%= @customers_affected %></p>
            <p>Event Status: <%= @event_status %></p>
            <p>Event Severity: <%= @event_severity %></p>
            <p>Event Category: <%= @event_category %></p>
            <p>Bridge Number: <%= @bridge_number %></p>
            <p>Problem Statement: <%= @problem_statement %></p>
            <p>Additional Notes: <%= @additional_notes %></p>
            <p>Ticket Created: <%="#{time_ago_in_words(@created_at)} ago"%></p>
            <% if @attachment.exists? %>
                <p>Attacments: <%= link_to "Download", @attachment.url(:original, false) %></p>
            <% else %>
                <p>Attachments: N/A</p>
            <% end %>
  	</body>
</html>