<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
        <h1>ENS ticket#<%= @heat_ticket_number %> has been closed.</h1>
            <p><strong>Property/Properties:</strong> <%= @property_array.map(&:upcase).join(", ") %></p>
            <p><strong>Initial Problem Statement:</strong> <%= @problem_statement %></p>
            <p><strong>Duration of Ticket:</strong> <%= @time_passed %></p>
            <p><strong>History of Notes Leading Up to Resolution (From Last to First):</strong></p>
	        <% @versions.reverse.each do |version| %>
	            <% version.changeset.each do |item| %>
	                <i><%= item.last.last %></i>
	            <% end %>
	            <br><br>
	        <% end %>
            <p><strong>Final Resolution:</strong> <%= @resolution %></p>
  	</body>
</html>