<%= form_for @ticket do |f| %>
    <% if @ticket.errors.any? %>
        <div id="error_explanation">
            <div class="alert alert-danger">
                <%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:
            <ul>
                <% @ticket.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :property_id %><br>    
        <%= collection_select(:ticket, :property_ids, Property.all, :id, :property_name_and_address, {}, {:multiple => true, class: "form-control"}) %>
    </div>

    <div class="form-group">
        <%= f.label :heat_ticket_number %>
        <%= f.text_field :heat_ticket_number, class: "form-control htn", :placeholder => 'Minimum 8 Digits - this field is required' %> 
    </div>

    <div class="form-group">
        <%= f.label :bridge_number %><br>    
        <%= f.text_field :bridge_number, class: "form-control", :placeholder => 'Enter Bridge Number if Applicable' %> 
    </div>

    <div class="form-group">
        <%= f.label :services_affected, "Services Affected" %><br>    
        <%= f.select(:services_affected, ['Phone','Video','Internet','Phone and Video','Phone and Internet','Internet and Video','Phone, Video, and Internet', 'Other (Explained in Notes)', 'Dark Fiber'], {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
        <%= f.label :event_status %><br>
        <%= f.select(:event_status, ['Initial', 'Update', 'Stopped'], {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
        <%= f.label :event_category %><br>
        <%= f.select(:event_category, ['Maintenance','Early Warning','Informational','Simplex','Outage', 'Degraded Service', 'THREAT'], {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
        <%= f.label :event_severity %><br>
        <%= f.select(:event_severity, ['Low','Medium','High','Critical'], {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
        <%= f.label :customers_affected %><br>
        <%= f.text_field :customers_affected, class: "form-control", :placeholder => 'How many customers were affected? If unknown/none, enter 0.' %>
    </div>

    <div class="form-group">
        <%= f.label :problem_statement %><br>
        <%= f.text_area :problem_statement, class: "form-control problem_statement", :placeholder => 'Enter the problem statement here - this field is required', :maxlength => 400 %>
    </div>

    <div class="form-group">
        <%= f.label :additional_notes %><br>
        <%= f.text_area :additional_notes, class: "form-control additional_notes", :placeholder => 'Enter any additional notes here - this field is required', :maxlength => 400  %>
    </div>

    <div class="form-group">
        <% if @ticket.attachment.exists? %>
            <%= link_to "View Current Attachment", @ticket.attachment.url %><br/>
        <% end %>
        <%= f.file_field :attachment %>
    </div>
    
     <%= f.hidden_field :resolution, :value => "No Resolution Provided" %>
     <%= f.hidden_field :completed_at, :value => nil %>
    <p>
        <div class="actions">
            <%= f.submit :class => "btn btn-default ticket-submit" %>
        </div>        
    </p>


<% end %>
