<div class="container">
  <h1>Ticket History</h1>

  <ul>
    <% @versions.each do |version| %>
      <li>
        <%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z") %><br/>
        <b>User:</b>
        <% if version.whodunnit && version.whodunnit != 'Guest' %>
          <% user = User.find_by_id(version.whodunnit) %>
          <% if user %>
            <span style="color: red"><%= user.email %></span>
            (last signed in at <%= l(user.last_sign_in_at, format: "%-d.%m.%Y %H:%M:%S") %>)
          <% end %>
        <% else %>
          Guest
        <% end %><br />
        Event ID: <%= version.id %><br/>
        <b>Target:</b> <%= version.item_type %>
        <small>(id: <%= version.item_id %>)</small>; <b>action</b> <%= version.event %>;<br/>
        <div>
          More info:
          <pre><%= version.object %></pre>
        </div>
        <div>
          Changeset:
          <pre><%= version.changeset %></pre>
        </div>

        <b>User:</b>
        <% if version.whodunnit && version.whodunnit != 'Guest' %>
          <% user = User.find_by_id(version.whodunnit) %>
          <% if user %>
            <span style="color: red"><%= user.email %></span>
            (last signed in at <%= l(user.last_sign_in_at, format: "%-d.%m.%Y %H:%M:%S") %>)
          <% end %>
        <% else %>
          Guest
        <% end %>
        
      </li>
      
    <% end %>
  </ul>
</div>