<div class="container">
  <h1>Ticket History</h1>

  <ul>
    <% @versions.each do |version| %>
      <li>
        <%= l(version.created_at, format: "%m/%d/%Y %H:%M:%S %Z") %><br/>
        <b>Action Performed By:</b>
        <% if version.whodunnit && version.whodunnit != 'Guest' %>
          <% user = User.find_by_id(version.whodunnit) %>
          <% if user %>
            <span style="color: red"><%= user.email %></span>
            (last signed in at <%= l(user.last_sign_in_at, format: "%m/%d/%Y %H:%M:%S") %>)
          <% end %>
        <% else %>
          Guest
        <% end %><br />
        <b>Event ID:</b> <%= version.id %><br/>
        <b>Ticket ID:</b> <%= version.item_id %><br/>
        <b>Action Taken on Ticket:</b> <%= version.event.upcase %><br/>
        <div>
          More info:
          <pre><%= version.object %></pre>
        </div>
        <div>
          Changeset:
          <pre><% version.changeset.each do |item| %>
          <%= item %>
            <% end %>
          </pre>
        </div>
      </li>
      
    <% end %>
  </ul>
</div>