<!-- <p id="notice"><%= notice %></p> -->
<h1>Listing Tickets</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Property</th>
                <th>Event Status</th>
                <th>Event Severity</th>
                <th>Customers affected</th>
                <th>Problem Statement</th>
                <th>Additional Notes</th>
                <th>Inspect</th>
                <th>Edit</th>
                <th>Close</th>
            </tr>
        </thead>

        <tbody>
            <% @tickets.each do |ticket| %>
                <tr>
                    <% ticket.properties.each do |property| %>
                        <td><%= property.name %></td>
                    <% end %>
                    <td><%= ticket.event_status %></td>
                    <td><%= ticket.event_severity %></td>
                    <td><%= ticket.customers_affected %></td>
                    <td><%= ticket.problem_statement %></td>
                    <td><%= ticket.additional_notes %></td>
                    <td><%= link_to 'Show', ticket %></td>
                    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
                    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<br>
<%= link_to 'New Ticket', new_ticket_path %>
