<h1 class="ticket-header">Listing Active Tickets</h1>
<div class="alert alert-info active-ticket-panel" role="alert">There are currently no active tickets.</div>
<div class="table-responsive">
<div style='width: 1140px;'>
  <div id="map" style='width: 1140px; height: 300px; border: 1px solid #ddd'></div>
</div>
<script type="text/javascript">

var lestyles=[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}];
    
    handler = Gmaps.build('Google');
    handler.buildMap({
        internal: {id: 'map'}, 
        provider: {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: lestyles
        }
    },
    function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 1) {
            handler.getMap().setZoom(11);
        }  
    });
</script>
    <%= hidden_field_tag "map_data", @hash, { :id => "map_data" } %>
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Heat Ticket #</th>
                <th>Property</th>
                <th>Created</th>
                <th>Event Status</th>
                <th>Event Category</th>
                <th>Event Severity</th>
                <th>Customers affected</th>
                <th>Bridge #</th>
                <th>Problem Statement</th>
                <th>Additional Notes</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <% @tickets.each do |ticket| %>
                <tr>
                    <td><%= ticket.heat_ticket_number %>
                        <div><%= link_to "(Edit)", edit_ticket_path(ticket) %></div>
                    </td>
                    <td>
                    <% ticket.properties.each do |property| %>
                        <div><strong><%= property.name %></strong>, <%= property.address %><%= ";" unless property == ticket.properties.last %></div>
                    <% end %>
                    <%= link_to "Map", ticket_path(ticket) %>
                    </td>                    
                    <td><%="#{time_ago_in_words(ticket.created_at)} ago"%></td>
                    <td><%= ticket.event_status %></td>
                    <td><%= ticket.event_category %></td>
                    <td><%= ticket.event_severity %></td>
                    <td><%= ticket.customers_affected %></td>                    
                    <td><%= ticket.bridge_number %></td>
                    <td><%= ticket.problem_statement %></td>
                    <td><%= ticket.additional_notes %></td>
                    <td><%= link_to "Close", close_path(ticket) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
