<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Property:</strong>
  <%#= @ticket.property_id %>
   <% @ticket.properties.each do |property| %>
  	<%= property.name %><%= "," unless property == @ticket.properties.last %>
  <% end %>
</p>

  <strong>Category:</strong>
  
	<% @ticket.properties.each do |property| %>
		<% property.categories.each do |category| %>
  			<%= category.name %>
  		<% end %>
  	<% end %>
</p>

<p>
  <strong>Event status:</strong>
  <%= @ticket.event_status %>
</p>

<p>
  <strong>Event Severity:</strong>
  <%= @ticket.event_severity %>
</p>

<p>
  <strong>Event Category:</strong>
  <%= @ticket.event_category %>
</p>

<p>
  <strong>Customers affected:</strong>
  <%= @ticket.customers_affected %>
</p>

<p>
  <strong>Heat Ticket Number:</strong>
  <%= @ticket.heat_ticket_number %>
</p>

<p>
  <strong>Bridge Number:</strong>
  <%= @ticket.bridge_number %>
</p>

<p>
  <strong>Problem Statement:</strong>
  <%= @ticket.problem_statement %>
</p>

<p>
  <strong>Additional Notes:</strong>
  <%= @ticket.additional_notes %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
