<!DOCTYPE html>
<html>
    <head>
        <title>ENS</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ENS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
                <li><%= link_to "Logged in as #{current_user.email}", edit_subscription_path(@sub_user.id) %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <!-- <li>Logged in as <strong><%= current_user.email %></strong>.</li> -->
                <!-- Session Details are: <strong><%= user_session %></strong>. -->
                <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                <li><%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %></li>
                <% if @sub_user %>
                    <li><%= link_to "Edit Subscription", edit_subscription_path(@sub_user.id), method: :get, :class => 'navbar-link'  %></li>
                <% else %>
                    <li><%= link_to "Subscribe to ENS", new_subscription_path, method: :get, :class => 'navbar-link'  %></li>
                <% end %> 
                <li><%= link_to "Tickets Home", tickets_path, method: :get, :class => 'navbar-link' %></li>
                <% if can? :manage, Ticket %>
                    <li><%= link_to "Create Ticket", new_ticket_path, method: :get, :class => 'navbar-link' %></li>
                <% end %>
            <% else %>
                <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
                <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   
        <div style="padding-top: 40px">
            <div class="container">
                <%= yield %>
            </div>        
        </div>

    </body>
</html>
